@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  10%,
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-fadeInOut {
  animation: fadeInOut 3s ease-in-out forwards;
}
