@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Orbitron:wght@400;500;700&display=swap");

body {
  @apply bg-gray-900 text-white antialiased;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  10%,
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-fadeInOut {
  animation: fadeInOut 4s ease-in-out forwards;
}
